// get color names from here https://chir.ag/projects/name-that-color/#6195ED
/* stylelint-disable color-no-hex */
// colors
$white: white;
$black: black;

$alizarin_crimson: #e11d34;
$woodsmoke: #121213;
$alto: #e0e0e0;
$alto_lite: #dcdcdc;
$bermuda_gray: #7b87a5;
$gallery: #f0f0f0;
$gallery_1: #eeeeee;
$gallery_2: #ededed;
$mercury: #e8e8e8;
$alabaster: #fcfcfc;
$approx_mercury: #e4e4e4;
$concrete: #f3f3f3;
$mine_shaft: #3b3b3b;
$big_stone: #161f3d;
$gallery_solid: #efefef;
$silver: #cccccc;
$silver_chalice: #a7a6a6;
$silver_chalice_1: #b2b2b2;
$pink_swan: #b2b2b2;
$dark_gray: #a7a6a6;
$dusty_gray: #979797;
$malachite: #1bc12e;
$fair_pink: #ffebed;
$bon_jour: #e5e1e1;
$hint_of_red: #f8f6f6;
$mine_shaft_1: #1f1f1f;
$light_grey:#acacac;
$active : #6dd400;
$grey : #e7dfdf;
$mandys_pink : #f2bcc3;
$mercury: #e9e7e7;
$cardinal: #C71932;



//Font-size
$font-big: 1.8rem;
$font_regular: 1.6rem;
$font_medium: 1.4rem;
$font_small: 1.2rem;
$font_verysmall: 1rem;
$font-tiny: 0.8rem;
$font_comment: 1.32rem;
$font-modal-location: 1rem;
$font_verylarge: 3rem;
